.App {
  display: flex;
  flex-grow: 1;
  overflow-x: scroll;
  width: 100%;
  height: 100%;
  align-items: center;
}

.App-header {
  flex-grow: 1;
  height: 100%;
  z-index: 1;

  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(-180deg);
  align-items: center;
  font-family: 'Rubik Iso';
  font-size: calc(10px + 7vmin);
  color: white;

  background-image: url(../public/textbg.jpg);
  background-size: contain;
}

.zoom {
  flex-grow: 1;
  z-index: 100;

  transition: transform .6s; /* Animation */
  display: block;
  max-height:500px;
  width: auto;
  height: auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
